# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.venv/
venv/
env/

Lib/
Scripts/
Include/
include/
share/

pyvenv.cfg
CACHEDIR.TAG

# Environment Variables
.env

# ChromaDB
chroma_db/

# SQLite
*.db
conversation_memory.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build / Packaging
build/
dist/
*.egg-info/

# Logs
*.log